
<a name="pagecontent" id="pagecontent"></a>
<!-- 
<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
</div>
 -->
<!-- <div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
      {{ 'general.404.subtext' | t }}
    </p>
  </div>
</div>
<div class="section clearfix search_page">
  <div class="sixteen columns center">
    <p class="extra_padding">
      {{ 'general.404.continue_shopping_html' | t }}
    </p>
  </div>
  <div class="six columns offset-by-five">
    <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
    </form>
  </div>
</div>
-->
<div class="header-404 section clearfix">  
  <div class="container">
  
    <div class="text-header-404">
      We apologies for the inconvenience.<br><br>

    The page you were looking for appears to have been moved, deleted or does not exist.
    </div>

    <div class="form-searh-404">
      <form class="search" action="/search" style="position: relative">
        <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
        <span class="icon-search search-submit"></span>
      </form>
    </div>
  </div>
</div>

<div class="section clearfix">
  <div class="container block-txt">
    <div class="txt-again-later">
      <strong>Your experience doesn't have to end here.</strong><br><br>

      Vist our homepage by clicking <a href="/" style="text-decoration: underline">here.</a>
    </div>
    <div class="txt-or">OR</div>
    <div class="row-button">
      <a href="/pages/shop-by-purpose" class="action_button-black">SHOP BY PURPOSE</a>
      <a href="/collections" class="action_button-black button-outline">SHOP COLLECTIONS</a>
    </div>
  </div>
</div>

<div class="section clearfix">
  <div class="container promotions-grid-standard"> <div class="js-featured-promotions featured-promotions promo-per-row-3 clearfix" data-promo-animation="fadeIn"> <figure class="feature-section section-1 promo-1 title-overlay-true promo-animation--true animated fadeIn"> <div class="feature-inner feature-style--square "> <img src="//cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_1400x.jpg?v=1526254921" alt="Value Kits." class="full-width-image fade-in lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_1400x.jpg?v=1526254921" data-srcset=" //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_240x.jpg?v=1526254921 240w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_480x.jpg?v=1526254921 480w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_600x.jpg?v=1526254921 600w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_800x.jpg?v=1526254921 800w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_900x.jpg?v=1526254921 900w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_1000x.jpg?v=1526254921 1000w" sizes="380px" srcset=" //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_240x.jpg?v=1526254921 240w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_480x.jpg?v=1526254921 480w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_600x.jpg?v=1526254921 600w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_800x.jpg?v=1526254921 800w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_900x.jpg?v=1526254921 900w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Calming_Catagories_Banners_850x1100_85add007-3c3d-4114-96a0-d054a9de1af4_1000x.jpg?v=1526254921 1000w"> <figcaption class="feature-overlay"> <a href="https://eco-modern-essentials.myshopify.com/collections/gift-packs" class="link-promo"></a> <div class="feature-wrap"> <h2 class="title">Value Kits.</h2> <div class="feature-details reveal-details" style="display: none;"> <div class="description"><p><strong>A range of kits that&nbsp;combine our most popular sellers.</strong></p></div></div></div></figcaption></div></figure> <figure class="feature-section section-2 promo-2 title-overlay-true promo-animation--true animated fadeIn"> <div class="feature-inner feature-style--square "> <img src="//cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_1400x.jpg?v=1525654854" alt="Sleep." class="full-width-image fade-in lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_1400x.jpg?v=1525654854" data-srcset=" //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_240x.jpg?v=1525654854 240w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_480x.jpg?v=1525654854 480w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_600x.jpg?v=1525654854 600w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_800x.jpg?v=1525654854 800w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_900x.jpg?v=1525654854 900w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_1000x.jpg?v=1525654854 1000w" sizes="380px" srcset=" //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_240x.jpg?v=1525654854 240w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_480x.jpg?v=1525654854 480w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_600x.jpg?v=1525654854 600w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_800x.jpg?v=1525654854 800w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_900x.jpg?v=1525654854 900w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Sleep_Catagories_Banners_850x1100_a1821c7c-14ea-4752-853f-33ca31e921ad_1000x.jpg?v=1525654854 1000w"> <figcaption class="feature-overlay"> <a href="https://eco-modern-essentials.myshopify.com/collections/all/sleep" class="link-promo"></a> <div class="feature-wrap"> <h2 class="title">Sleep.</h2> <div class="feature-details reveal-details" style="display: none;"> <div class="description"><p><strong>The perfect oils to help relax and encourage a peaceful night sleep.</strong></p></div></div></div></figcaption></div></figure> <figure class="feature-section section-3 promo-3 title-overlay-true promo-animation--true animated fadeIn"> <div class="feature-inner feature-style--square "> <img src="//cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_1400x.jpg?v=1525654706" alt="Energy." class="full-width-image fade-in lazyautosizes lazyloaded" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_1400x.jpg?v=1525654706" data-srcset=" //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_240x.jpg?v=1525654706 240w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_480x.jpg?v=1525654706 480w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_600x.jpg?v=1525654706 600w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_800x.jpg?v=1525654706 800w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_900x.jpg?v=1525654706 900w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_1000x.jpg?v=1525654706 1000w" sizes="380px" srcset=" //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_240x.jpg?v=1525654706 240w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_480x.jpg?v=1525654706 480w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_600x.jpg?v=1525654706 600w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_800x.jpg?v=1525654706 800w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_900x.jpg?v=1525654706 900w,
                                        //cdn.shopify.com/s/files/1/0012/8657/0039/files/Energy_Catagories_Banners_850x1100_dfc7ebcd-f006-4133-9539-854a0a3119f0_1000x.jpg?v=1525654706 1000w"> <figcaption class="feature-overlay"> <a href="https://eco-modern-essentials.myshopify.com/collections/all/energy" class="link-promo"></a> <div class="feature-wrap"> <h2 class="title">Energy.</h2> <div class="feature-details"> <div class="description"><p><strong>Be your best YOU and lift your spirits with this collection.</strong></p></div></div></div></figcaption></div></figure></div></div>
  
</div>


