<div class="element-static-infor" style="background: {{ settings.btn_color }}">
  <div class="container">

    <div class="three columns non-mobile">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'Freeshipping_100x60.png' | asset_url }}">
          <p>Free Shipping <br> Over $20</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'AustraliaMade_100x60.png' | asset_url }}">
          <p>Made in <br> Australia</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'Happiness_100x60.png' | asset_url }}">
          <p>100% Happiness <br> Guaranteed</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'A5Star_100x60.png' | asset_url }}">
          <p>1500+ <br> 5 Star Reviews</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'AnimalRescue_100x60.png' | asset_url }}">
          <p>Animal Rescue <br> Partner</p>
        </a>
      </div>
    </div>
    
  </div>
</div>
