<div class="element-static-infor" style="background: {{ settings.btn_color }}">
  <div class="container">
    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'Freeshipping_100x60.png' | asset_url }}">
          <p>Free Shipping <br> Over $20</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'AustraliaMade_100x60.png' | asset_url }}">
          <p>Made in <br> Australia</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'Happiness_100x60.png' | asset_url }}">
          <p>Happiness <br>Guaranted</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'A5Star_100x60.png' | asset_url }}">
          <p>Five Star <br> Rating</p>
        </a>
      </div>
    </div>

    <div class="three columns">
      <div class="center">
        <a href="/pages/about-eco">
          <img src="{{ 'AnimalRescue_100x60.png' | asset_url }}">
          <p>Animal Rescue <br> Partner</p>
        </a>
      </div>
    </div>
  </div>
</div>
