<div class="filter-store">
  
  <div class="header-filter text-align--center">
    <h2 class="header-filter-text hidden-phone">{{ section.settings.title }}</h2>
    {{ section.settings.image_header | img_url: 'master' | img_tag }}
  </div>

  <div class="container">
    <p class="sub-copy">{{ section.settings.subtitle }}</p>
    <ul class="filter-group none">
      {% assign alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' | upcase | split: '' %}

      {% for char in alphabet %}
      <li>
          <a href="#" data-filter="{{ char }}">{{ char }}</a>
      </li>
      {% endfor %}
    </ul>

    <ul class="gird-filter full-width none" id="accordion-collapse">
      {% for block in section.blocks %}
        <li class="clearfix row" data-filter="{{ block.settings.title | slice: 0 | upcase }}">
          <div class="eight columns tile-img">
            {{ block.settings.image | img_url: 'large' | img_tag }}
            
          </div>

          <div class="eight columns">
            
            <h2 class="title-text-search">{{ block.settings.title }}</h2>

            <div class="txt-content">{{ block.settings.head_text }}</div>
            {% comment %} <h3 class="title"></h3> {% endcomment %}
            {% comment %}
            <p>{{ block.settings.sub_text }}</p><br>
            {% if block.settings.more_detail != '' %}            
              <div data-collapse id="more-detail-{{ block.id }}">
                  {{ block.settings.more_detail }}
              </div>

              <div class="align_right">
                <a class="button--link align_right" href="#more-detail-{{ block.id }}" data-toggle="collapse">
                  {{ block.settings.read_more_text }}
                </a>
              </div>
            {% endif %} {% endcomment %}

            {%- if block.settings.keyword != '' -%}
              <a class="button--outline" href="{{ '/search?type=product&q=' | append: block.settings.keyword | url_escape | append: '*' }}">
                {{ block.settings.button_label }}
              </a>
            {%- endif -%}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
  {
    "name":"Filter section setting",
    "class":"filter-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_header",
            "label": "Image header"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "Sub title"
        }
    ],
    "blocks":[
      {
        "type":"article",
        "name":"Article",
        "settings":[
          {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
          },
          {
              "type":"text",
              "id":"title",
              "label":"Title",
              "default":"Feature"
          },
          {
              "type":"text",
              "id":"keyword",
              "label":"Search keyword"
          },
          {
              "type":"text",
              "id":"button_label",
              "label":"Button label",
              "default": "Shop"
          },
          {
              "type":"richtext",
              "id":"head_text",
              "label":"Content"
          }
        ]
      }
    ]
  }
{% endschema %}
